<p id="notice"><%= notice %></p>

<h1>Hostparents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Adress</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hostparents.each do |hostparent| %>
      <tr>
        <td><%= hostparent.name %></td>
        <td><%= hostparent.adress %></td>
        <td><%= hostparent.phone %></td>
        <td><%= link_to 'Show', hostparent %></td>
        <td><%= link_to 'Edit', edit_hostparent_path(hostparent) %></td>
        <td><%= link_to 'Destroy', hostparent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hostparent', new_hostparent_path %>
