<p id="notice"><%= notice %></p>

<style>
  strong{
    font-size: 20px;
    font-family: fantasy;
    color: black;
  }

  span{
    color: black;
    font-size: 18px;
    font-family: 'Lucida';
  }

</style>

<div class="container">
 <div class="container">
  <div class="card container">

<p>
  <strong>Name:</strong>
  <%= @hostparent.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @hostparent.adress %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @hostparent.phone %>
</p>

<%= link_to 'Edit', edit_hostparent_path(@hostparent) %> |
<%= link_to 'Back', hostparents_path %> |

<%= link_to "Retour sur la page de création d'un nouveau Orphan", new_orphan_path %>
