<%= form_with(model: orphan, local: true) do |form| %>
  <% if orphan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orphan.errors.count, "error") %> prohibited this orphan from being saved:</h2>

      <ul>
        <% orphan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_area :image %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
