<p id="notice"><%= notice %></p>

<h1>Orphans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Age</th>
      <th>Image</th>
      <th>Sex</th>
      <th>Original Parent Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orphans.each do |orphan| %>
      <tr>
        <% if user_signed_in? %>
        <% if current_user.admin?%>
        <td><%= orphan.name %></td>
        <td><%= orphan.description %></td>
        <td><%= orphan.age %></td>
        <td><%= orphan.image %></td>
        <td><%= orphan.sex %></td>

        <td><%= link_to 'Show', orphan %></td>
        <td><%= link_to 'Edit', edit_orphan_path(orphan) %></td>
        <td><%= link_to 'Destroy', orphan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if orphan.originalparent_id==nil %>
        <td><%= link_to 'Renseigner originalparents', new_originalparent_path %></td>
          <% else %>
        <td><%= link_to 'Original parent informations',  originalparent_path(orphan.originalparent)%></td>
        <td><%= link_to 'Host parent informations', orphan %></td>
        <% end %>
        <% else %>
        <td><%= orphan.name %></td>
        <td><%= orphan.description %></td>
        <td><%= orphan.age %></td>
        <td><%= orphan.image %></td>
        <td><%= orphan.sex %></td>

        <td><%= link_to 'Show', orphan %></td>
      <% end %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orphan', new_orphan_path %>
