
<p id="notice"><%= notice %></p>
<style>
  strong{
    font-size: 20px;
    font-family: fantasy;
    color: black;
  }

  span{
    color: black;
    font-size: 18px;
    font-family: 'Lucida';
  }

</style>

<div class="container">
 <div class="container">
  <div class="card container">

<p>
  <strong>Name:</strong>
  <%= @orphan.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @orphan.description %>
</p>

<p>
  <strong>Age:</strong>
  <%= @orphan.age %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @orphan.image.url %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @orphan.sex %>
</p>


<%= link_to 'Edit', edit_orphan_path(@orphan) %> |
<%= link_to 'Back', orphans_path %>
