<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @orphan.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @orphan.description %>
</p>

<p>
  <strong>Age:</strong>
  <%= @orphan.age %>
</p>

<p>
  <strong>Image:</strong>
  <%= @orphan.image %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @orphan.sex %>
</p>

<%= link_to 'Edit', edit_orphan_path(@orphan) %> |
<%= link_to 'Back', orphans_path %>
