  <div style="width:400px;height:auto">
    <%=image_tag(@user.profile_image,style:"width:100%") %>
  </div>

<p id="notice"><%= notice %></p>


<style>
  strong{
    font-size: 20px;
    font-family: fantasy;
    color: black;
  }

  span{
    color: black;
    font-size: 18px;
    font-family: 'Lucida';
  }

</style>

<div class="container">
 <div class="container">
  <div class="card container">

<p>
  <strong>Name:</strong>
  <%= @originalparent.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @originalparent.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @originalparent.phone %>
</p>



<%= link_to 'Edit', edit_originalparent_path(@originalparent) %> |
<%= link_to 'Back', originalparents_path %> |

<%= link_to "Retour sur la page de création d'un nouveau orphan", new_orphan_path %>
