<!DOCTYPE html>
<html>
  <head>
    <title>GestOrfD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

  <body style="background-color:LightSlateGrey;font-family:Verdana">
    <header class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-white ftco-navbar-light" id="ftco-navbar">
      <div class="container">
      <ul class="nav nav-pills">
        <a class="nav-link active" href="#">GestOrf</a>
      </ul>
   <% if user_signed_in? %>
     <%= link_to "Liste des orphelins", orphans_path %>
     <%= link_to "Faites vos dons", "#"  %>
     <%= link_to "Espace de parrainage","#" %>
     <%= link_to "Voulez vous adoptez?", "#"%>
     <%= link_to "Envoyer nous un message","#" %>
<%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>

   <% else %>
     <%= link_to "Nouvel enregistrement", new_user_registration_path %>
     <%= link_to "Connexion", new_user_session_path %>
   <% end %>

   <% if notice %>
    <h3><p class="alert alert-notice"><%= notice %></p></h3>
  <% end %>
  <% if alert %>
    <h3><p class="alert alert-error"><%= alert %></p></h3>
  <% end %>
    <%= yield %>
    <footer>
      <footer class="footer">
    <p>&copy; GestOrf 2023. All Rights Reserved/Lahanatou KPERA</p>
  </footer>
    </footer>
  </body>

</html>
